*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    background:#2A2A2A;
    
}

.logo a{
text-decoration: none;
color: white;

}
.bg-light{
    background: #2A2A2A !important;
}
/* .navbar{
    width: 100% !important;
} */

.navbar-nav{
    width: 100% !important;
    padding: 20px 0;
}
.navbar-light .navbar-nav .nav-link {
    color:#00C4F0;
    font-weight: 400;
    font-size: 20px;
}
.navbar-light .navbar-nav .nav-link:after{
    content: "";
    width:0%;
    height:2px;
    background-color:#E29500;
    display: block;
    border-radius: 15px;
    transition: 900ms;
}
.navbar-light .navbar-nav .nav-link:hover
 .navbar-light .navbar-nav .nav-link:after{
    width: 100% ;
}


/* ================================================================= */

.header_center h2{
    font-weight: 600;
    font-size: 48px;
    color: #E4E4E4;
    padding-top: 200px;
}
.header_center h1{
    font-weight: 600;
    font-size: 58px;
    color: #E4E4E4;
}
.header_center p{
    font-weight: 300;
font-size: 18px;
color: #E4E4E4;
}
.header_center button{
    border: none;
    width: 200px;
    height: 47px;
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
    border-radius: 6px;
    color: #000;
}
.header_center .h_right img{
    width: 100%;
    
}